.home-container {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px
}

.main-properties-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 370px 370px auto;
    grid-gap: 20px
}

.card {
    height: 360px;
}

img.card-img-top {
    height: 160px;
    padding: 5px;
}

.card-body {
    flex: none;
}

aside .list-group-item {
    padding: .3rem 2.5rem;
}

.material-icons {
    position: absolute;
    top: 11px;
    left: 10px
}

@media only screen and (max-width: 1280px) {
    .main-properties-container {
        display: grid;
        grid-template-rows: 210px 210px 30px 30px
    }
    body {
        background-color: lightblue;
        font-size: .7rem
    }
    .card {
        height: 210px;
    }
    .card-body {
        padding: 5px;
    }
    .card .list-group-item {
        padding: 5px;
    }
    img.card-img-top {
        height: 110px;
        padding: 5px;
    }
    .card-body .btn {
        padding: 3px;
        font-size: .7rem;
    }
    .material-icons {
        font-size: .7rem;
        top: 8px;
    }
    aside .list-group-item {
        padding: .3rem 2rem;
    }
}